.idea/
cmake-build-debug/
block_sparse/bsft_tests
block_sparse/experiment_samples
block_sparse/generate_signals
block_sparse/k_sparse_tuning
block_sparse/precompute_filters
block_sparse/run_experiment

*.DS_Store
*.in
*.filt
*.run
venv/

# Prerequisites
*.dSYM

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
